# RStudio
.Rproj.user/

# R session files
.Rhistory
.RData
.Ruserdata

# macOS (if applicable)
.DS_Store

# Large model files
data/pbp_df.rds
execution_error/old/execution_error.rds
execution_error/body/execution_error_body.rds
reward_surface/reward_surface.rds
optimums/optimums.rds