# RStudio
.Rproj.user/

# R session files
.Rhistory
.RData
.Ruserdata

# macOS (if applicable)
.DS_Store

# Large model files
data/pbp_df.rds
execution_error/execution_error.rds
reward_surface/reward_surface.rds
optimums/optimums.rds
optimums/optimums_new.rds